<p>Choose your maze</p>
<%= form_tag "", method: :get do %>
  <%= label_tag(:maze_type, "Algorithm:") %>
  <%= text_field_tag(:maze_type) %>
  <%= label_tag(:size, "Size:") %>
  <%= text_field_tag(:size) %>
  <%= submit_tag("Generate") %>
<% end %>

<canvas id="maze" width="300" height="300"></canvas>

<%= javascript_include_tag "grid_maze" %>
<script type="text/javascript">
$(document).ready(function(){
  var canvas= document.getElementById("maze");
  console.log("loaded js");
  var maze_data = <%= @grid.to_json.html_safe %>;
  console.log(maze_data);
  MAZES.drawGrid(canvas, maze_data);
});
</script>